:root {
    --bg-color: #f0f0f0;
    --calculator-bg: #fff;
    --button-bg: #fff;
    --button-text: #000;
    --button-hover: #eaeaea;
    --display-bg: #fff;
    --display-text: #000;
    --operator-bg: #f38b8b;
    --operator-text: #fff;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--bg-color);
    font-family: 'Arial', sans-serif;
}

.calculator {
    width: 300px;
    padding: 20px;
    background-color: var(--calculator-bg);
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.display {
    background-color: var(--display-bg);
    color: var(--display-text);
    font-size: 2.5rem;
    text-align: right;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.button {
    background-color: var(--button-bg);
    color: var(--button-text);
    font-size: 1.5rem;
    border: none;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.button:hover {
    background-color: var(--button-hover);
}

.operator {
    background-color: var(--operator-bg);
    color: var(--operator-text);
}

.equal {
    background-color: #e64747;
    color: #fff;
    grid-column: span 2;
}

.theme-toggle {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

button#theme-button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Dark Mode for Calculator Only */
.calculator.dark-mode {
    --calculator-bg: #2c2c2c;
    --button-bg: #333;
    --button-hover: #444;
    --button-text: #fff;
    --display-bg: #1c1c1c;
    --display-text: #fff;
    --operator-bg: #f28c8c;
    --operator-text: #fff;
}
